<!-- <p>sidebar works!</p> -->
<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">GifsApp</h3>
  <hr>

  <div class="list-group list-reset">
    <button class="list-group-item list-group-item-action">
      Carlos Duty
    </button>

  </div>
  <h5 class="text-light">Historial de Busqueda</h5>
  <div class="list-group">
    <button *ngFor="let etiqueta of historial" class="list-group-item list-group-item-action"

    (click)="buscarEtiqueta(etiqueta)">
    <!-- ARRIBA ESTA LO NECESARIO PARA BUSCAR LA ETIQUETA -->
      {{etiqueta}}
    </button>
  </div>
</div>
