<!-- <p>card-list works!</p> -->
<div class="row">
<!-- En pantallas medianas cada columna ocupa 3/12 -->
<!-- En pantallas pequenas cada columna ocupa 6/12 -->
<div class="col-md-3 col-sm-6"*ngFor="let gif of listadoGifs">
<!-- card para hacer tarjetas -->
<!-- margin button 2 -->
<!-- background dark -->
<div class="card mb-2 text-center bg-dark text" >
  <!-- CREAR IMAGEN -->
   <div class="card">
    <img
    [src]="gif.images.original.url"
    [alt]="gif.title"
    class="card-img-top"
    >

   </div>
   <div class="card-body">
    <h5 class="card-title">
      {{gif.title}}    </h5>
   </div>
</div>
</div>
